@keyframes scale01 {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.scale01 {
  animation: scale01 0.3s linear;
}

.bg-2048-default {
  background-color: #d2f4f5;
}
.bg-2048-2 {
  background-color: #9ff5f4;
}
.bg-2048-4 {
  background-color: #64d8f1;
}
.bg-2048-8 {
  background-color: #49a4eb;
}
.bg-2048-16 {
  background-color: #7d9ff7;
}
.bg-2048-32 {
  background-color: #3777db;
}
.bg-2048-64 {
  background-color: #374f8f;
}
.bg-2048-128 {
  background-color: #1c40de;
}
.bg-2048-256 {
  background-color: #5e55d4;
}
.bg-2048-512 {
  background-color: #9f81e2;
}
.bg-2048-1024 {
  background-color: #a667f6;
}
.bg-2048-2048 {
  background-color: #911cdd;
}
.bg-2048-4096 {
  background-color: #7d16e1;
}
.bg-2048-8192 {
  background-color: #7113f0;
}
.bg-2048-16384 {
  background-color: #660ff4;
}
.bg-2048-32768 {
  background-color: #576ef2;
}
.bg-2048-65536 {
  background-color: #4e8df6;
}
