@font-face {
  font-family: "iconfont"; /* Project id 3918630 */
  src: url("//at.alicdn.com/t/c/font_3918630_v1lbye00l1d.woff2?t=1678722004042")
      format("woff2"),
    url("//at.alicdn.com/t/c/font_3918630_v1lbye00l1d.woff?t=1678722004042")
      format("woff"),
    url("//at.alicdn.com/t/c/font_3918630_v1lbye00l1d.ttf?t=1678722004042")
      format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fenshu:before {
  content: "\e60c";
}

.icon-tuxing-active-copy:before {
  content: "\ed23";
}

.icon-tuxing:before {
  content: "\e623";
}

.icon-bushu:before {
  content: "\e657";
}

.icon-Lose:before {
  content: "\e6a2";
}

.icon-Win:before {
  content: "\eb22";
}

.icon-Play:before {
  content: "\e67a";
}

.icon-Ready:before {
  content: "\e9af";
}

.icon-wenhao:before {
  content: "\e646";
}

.icon-miaobiao:before {
  content: "\e633";
}

.icon-shuaxin:before {
  content: "\e64f";
}

.icon-zhadan:before {
  content: "\e705";
}

.icon-qizhi:before {
  content: "\e606";
}

.icon-game-active:before {
  content: "\ed22";
}

.icon-game:before {
  content: "\e618";
}
